Source: ros-noetic-simple-grasping
Section: misc
Priority: optional
Maintainer: Michael Ferguson <mferguson@fetchrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-geometry-msgs, ros-noetic-grasping-msgs, ros-noetic-message-generation, ros-noetic-moveit-msgs, ros-noetic-pcl-ros, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-shape-msgs, ros-noetic-tf
Homepage: http://ros.org/wiki/simple_grasping
Standards-Version: 3.9.2

Package: ros-noetic-simple-grasping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-geometry-msgs, ros-noetic-grasping-msgs, ros-noetic-message-runtime, ros-noetic-moveit-msgs, ros-noetic-moveit-python, ros-noetic-pcl-ros, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-shape-msgs, ros-noetic-tf
Description: Basic grasping applications and demos.
